{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours {% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided
tours, thrilling activities, and unique experiences in the Dominican Republic. {% endblock %}
{% load static %}
{% block content %}

<section class="container-static-pages">
    <h1>About Us</h1>
    <p><strong>Punta Cana Discovery</strong> is dedicated to offering exceptional services, including affordable excursions, tours, and airport transfers for American tourists visiting the Dominican Republic.</p>
    
    <h2>Our Mission</h2>
    <p>Our mission is to provide high-quality services at affordable prices, ensuring a memorable experience for every traveler. We believe that exploring the beauty of Punta Cana should be accessible to all.</p>
    
    <h2>Our Story</h2>
    <p>Founded with a passion for travel and hospitality, we have grown from a small operation to a trusted service provider in the region. Our knowledgeable team is committed to customer satisfaction and making your journey unforgettable.</p>
    
    <p>If you have any questions, feel free to <a title="Contact Us Directly via Whatsapp" href="https://api.whatsapp.com/send?phone=18094614942">Contact us via Whatsapp</a>.</p>

</section>

{% endblock content %}