{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours {% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided
tours, thrilling activities, and unique experiences in the Dominican Republic. {% endblock %}
{% load static %}
{% block content %}
{% include 'excursions/header.html' %}

<section class="container-static-pages">
    <h1>Blog</h1>
    <p>Welcome to the <strong>Punta Cana Discovery</strong> blog! Here, we share travel tips, event updates, and insider knowledge to enhance your experience in Punta Cana.</p>
    
    <h2>Explore Our Articles</h2>
    <p>From the best excursions to tips on airport transfers, our blog is your go-to resource for everything related to your trip. Discover local attractions, dining recommendations, and much more!</p>
    
    <p>Stay informed by subscribing to our newsletter and never miss an update!</p>
    
    <p>If you have any questions, feel free to <a title="Contact Us Directly via Whatsapp" href="https://api.whatsapp.com/send?phone=18094614942">Contact us via Whatsapp</a>.</p>

</section>

{% endblock content %}