{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours {% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided
tours, thrilling activities, and unique experiences in the Dominican Republic. {% endblock %}
{% load static %}
{% block content %}

<section class="container-static-pages">
    <h1>Events</h1>
    <p>Join us at <strong>Punta Cana Discovery</strong> for exclusive events! Whether you're looking for exciting local festivals or unique excursions, we have something for everyone.</p>
    
    <h2>Upcoming Events</h2>
    <p>Stay tuned for our upcoming events. Check out our <a href="/blog">blog</a> for the latest news and updates.</p>
    
    
    <p>If you have any questions, feel free to <a title="Contact Us Directly via Whatsapp" href="https://api.whatsapp.com/send?phone=18094614942">Contact us via Whatsapp</a>.</p>

</section>

{% endblock content %}