{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours {% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided
tours, thrilling activities, and unique experiences in the Dominican Republic. {% endblock %}
{% load static %}
{% block content %}

<section class="container-static-pages">
    <h1>Site Map</h1>
    <p>Welcome to the <strong>Punta Cana Discovery</strong> site map. Below is a quick overview of the main pages available on our website:</p>
    
    <ul>
        <li><a href="{% url 'static_page' 'about-us' %}" title="Learn More About Our Company">About Us</a></li>
        <li><a href="" title="Book Airport Transfers and Transportation">Transfers</a></li>
        <li><a href="{% url 'excursions' %}" title="Explore Our Excursions and Tours">Excursions</a></li>
        <li><a href="{% url 'static_page' 'events' %}" title="Plan and Attend Our Special Events">Events</a></li>
        <li><a href="{% url 'static_page' 'blog' %}" title="Read Our Latest Blog Posts and Articles">Blog</a></li>
        <li><a href="{% url 'static_page' 'faqs' %}" title="Frequently Asked Questions and Answers">FAQs</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=18094614942" title="Contact Us Directly via Whatsapp">Contact us via Whatsapp</a></li>
        <li><a href="{% url 'static_page' 'terms-and-conditions' %}" title="Read Our Terms and Conditions">Terms & Conditions</a></li>
        <li><a href="{% url 'static_page' 'privacy-policy' %}" title="View Our Privacy Policy">Privacy Policy</a></li>
        <li><a href="{% url 'static_page' 'cookies-and-privacy' %}" title="Review Our Cookies & Privacy Policy">Cookies & Privacy</a></li>
    </ul>
    
    <p>If you have any questions, feel free to <a title="Contact Us Directly via Whatsapp" href="https://api.whatsapp.com/send?phone=18094614942">Contact us via Whatsapp</a>.</p>

</section>

{% endblock content %}

