{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours {% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided
tours, thrilling activities, and unique experiences in the Dominican Republic. {% endblock %}
{% load static %}
{% block content %}
{% include 'excursions/header.html' %}

<section class="container-static-pages">
<h1>Terms and Conditions</h1>
<p>Welcome to <strong>Punta Cana Discovery</strong>. By accessing or using our services, you agree to the following terms and conditions. Please read them carefully before using our website.</p>

<h2>Use of Services</h2>
<p>Our services, including excursions, tours, and airport transfers, are subject to availability. We reserve the right to refuse service or cancel bookings if necessary.</p>

<h2>Payments and Cancellations</h2>
<p>All payments must be made in full before services are rendered. Please refer to our cancellation policy for more information on changes and refunds.</p>

<h2>Changes to Terms</h2>
<p>We reserve the right to update these terms at any time. Please check this page periodically for updates.</p>

<p>If you have any questions, feel free to <a title="Contact Us Directly via Whatsapp" href="https://api.whatsapp.com/send?phone=18094614942">Contact us via Whatsapp</a>.</p>

</section>

{% endblock content %}