{% extends 'excursions/excursions_base.html' %}
{% load static %}

{% block content %}
<section>
    {% if today_excursion_bookings or future_excursion_bookings or previous_excursion_bookings %}

    <h1 class="text-center mt-5">Your Excursion Bookings</h1>

    <!-- today bookings -->
    {% if today_excursion_bookings %}
    <h4 class="text-center mt-5">Today Bookings</h4>
    <div class="table_wrapper table-responsive">
        <table class="data_table">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Excursion Date</th>
                <th>Adult Quantity</th>
                <th>Child Quantity</th>
                <th>Pick up at</th>
                <th>Bk.Number</th>
                <th>Total</th>
            </tr>

            {% for order in today_excursion_bookings %}
            <tr>
                <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                <td>{{order.excursion_name |slice:":25"|title}}</td>
                <td>{{order.excursion_date}}</td>
                <td>{{order.adult_qty}}</td>
                <td>{{order.child_qty}}</td>
                <td>{{order.place_pickup}}</td>
                <td>{{order.order_number}}</td>
                <td>£{{order.subtotal}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <!-- Future bookings -->
    {% if future_excursion_bookings %}
    <h4 class="text-center mt-5">Future Bookings</h4>

    <div class="table_wrapper table-responsive">
        <table class="data_table">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Excursion Date</th>
                <th>Adult Quantity</th>
                <th>Child Quantity</th>
                <th>Pick up at</th>
                <th>Bk.Number</th>
                <th>Total</th>
            </tr>

            {% for order in future_excursion_bookings %}
            <tr>
                <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                <td>{{order.excursion_name |slice:":25"|title}}</td>
                <td>{{order.excursion_date}}</td>
                <td>{{order.adult_qty}}</td>
                <td>{{order.child_qty}}</td>
                <td>{{order.place_pickup}}</td>
                <td>{{order.order_number}}</td>
                <td>£{{order.subtotal}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <!-- pass bookings -->
    {% if previous_excursion_bookings %}
    <h4 class="text-center mt-5">Previous Bookings</h4>

    <div class="table_wrapper table-responsive">
        <table class="data_table">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Excursion Date</th>
                <th>Adult Quantity</th>
                <th>Child Quantity</th>
                <th>Pick up at</th>
                <th>Bk.Number</th>
                <th>Total</th>
            </tr>

            {% for order in previous_excursion_bookings %}
            <tr>
                <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                <td>{{order.excursion_name |slice:":25"|title}}</td>
                <td>{{order.excursion_date}}</td>
                <td>{{order.adult_qty}}</td>
                <td>{{order.child_qty}}</td>
                <td>{{order.place_pickup}}</td>
                <td>{{order.order_number}}</td>
                <td>£{{order.subtotal}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% else %}
    <h1 class="text-center mt-5">You do not have any bookings yet</h1>
    <div class="text-center"><a class="user_button_sm my_hover btn center" href="{% url 'excursions' %}"><i
                class="fa-solid fa-cart-shopping"></i> Go shopping</a>
    </div>
    {% endif %}
</section>

{% endblock content %}