{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
                    <form method='POST'>
                    <h3>REGISTER ACCOUNT</h3>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}

                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{form.errors}}
                          </div>
                         {%endif%}
                          
                        <button type="submit" class="btn user_button">Submit</button>
                        <p>Already have an account <a href="">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}