{% extends 'administrator/administrator_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section>
    <h1 class="title mt-5">Add Rental</h1>
    <form class="admin-form" method="POST" enctype="multipart/form-data" action="{% url 'add_rental' %}">
        {% csrf_token %}
        <div class="form-row">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <!-- Add rentals button -->
            <div class="mb-3">
                <input class="btn my_hover user_button_sm" type="submit" value="Add Rental">
            </div>
        </div>
        <!-- Go back to all rentals -->
        <a href="{% url 'admin-rental' %}" class="btn  my_hover btn-outline-secondary" role="button"
            aria-pressed="true">Cancel</a>
    </form>
</section>
{% endblock content %}