{% extends 'administrator/administrator_base.html' %}
{% load static %}

{% block content %}

<section>
    <h1 class="text-center mt-5">Excursions {{excursions.count}} Admin </h1>

    <div class="text-center mt-5">
        <a href="{% url 'add_excursion'%}"><button type="button" class="btn user_button_sm my_hover"><i
                    class="fa-solid fa-plus"></i> Add Excursion</button></a>
    </div>

    <!-- flass success message -->
    <div class="message mt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Table data -->
    <div class="table_wrapper table-responsive">
        <table class="data_table">
            <tr>
                <th>Status</th>
                <th>Image</th>
                <th>Date created</th>
                <th>Title (Links to excursion details)</th>
                <th>Price</th>
                <th></th>
                <th></th>
                <th>Generate Reviews</th>
            </tr>

            {% for excursion in excursions %}
            <tr>
                <td>{{excursion.status}}</td>
                {% if excursion.main_image %}
                <td><img src="{{excursion.main_image.url}}" alt="{{excursion.image_name}}" style="width:75px"></td>
                {%else %}
                <td><img src="" alt="no img asociated" style="width:75px"></td>
                {% endif %}
                <td>{{excursion.date_created}}</td>
                <td><a href="{% url 'excursion_detail' excursion.slugy %}" target="_blank">{{excursion.title|slice:":30"|title}}</td></a>
                <td>£{{excursion.price}}</td>
                <td><a href="{% url 'edit_excursion'  excursion.pk  %}"><button class="btn btn-sm btn-primary"><i class="far fa-edit">
                                Edit</i></button></a> </td>
                <td><a href="{% url 'delete_excursion' excursion.pk %}"><button class="btn btn-sm btn-danger "><i class="fas fa-trash-alt">
                                Delete</i></button></a>
                </td>
                <td>
                    <form class="review-form" action="{% url 'generate_reviews'  excursion.pk %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mt-3">
                            <input class="btn user_button_sm" type="textera" name="reviews_content" placeholder="add each reviews with a comma" required>
                            <input class="btn user_button_sm" type="submit" value="Generate">
                        </div>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
