{% extends 'administrator/administrator_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section>
<div class="delete_wraper card p-5">
    <h4 class="text-center">Are you sure you want to delete {{excursion.title|slice:":20"|title}}</h4>
    <div class="text-center m-3">
        <img class="delete_img" src="{{excursion.main_image.url}}" alt="{{excursion.image_name}}">
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <!-- excursion button for delete -->
            <div class="mt-4 text-center">
                <input class="btn btn-danger" type="submit" value="Delete">
                <!-- Go back to all excursion -->
                <a href="{% url 'admin-excursion' %}" class="btn  my_hover btn-outline-secondary" role="button"
                aria-pressed="true">Cancel</a>
            </div>
        </div>
    </form>
  </div>
</section>
{% endblock content %}