
/*-------------------------------------------------------------------- Variables */

:root {
    --white: #ffffff;
    --black: #212529;
    --font: "Montserrat", Georgia, sans-serif;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --orange-pantone: #f85a15;
    --gun-metal:#212a30;
    --font: "Montserrat", Georgia, sans-serif;
    --culture: #f2f2f2;
  }

  /* -------------------------------------------------------------------- Resets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--culture);
    min-height: 400px;
    margin-bottom: 100px;
    font-family: var(--font);
  }


/* -------------------------------------------------------------------- navbar */
.sear-btn{
    background-color: var(--orange-pantone);
    color:var(--white);
}

.navbar-brand img{
width:200px;
}

.links-container{
    margin-left:100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/* -------------------------------------------------------------------- home */
/* Slides */
.home-banner h2{
font-family: "Qwitcher Grypen", sans-serif;
position: absolute;
bottom: 0px;
left:2%;
font-size: 120px;
animation: typing 2s steps(18), blink .5s step-end 10 alternate;
white-space: nowrap;
overflow: hidden;
width: 32ch;
color:var(--white)
}

.heading{
    display: none;
}

.slide img{
    width: 100%;
}

.slide{
    display:none;
}

.active{
    display:block;

}


/* ----------------Animation for home*/

@keyframes typing {
    0% {
        width: 0;
        color:var(--white);
      }
}
@keyframes blink {
    50% {
        border-color: transparent;
        border-right: 3px solid;
      }
}



/* -------------------------------------------------------------------- footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--gun-metal);
    background-size: cover;
    box-shadow: var(--shadow);
    color: var(--white);
    display: grid;
    grid-template-columns: auto;
  }
.footer-copyright{
    margin: auto;
}

.social-media-links{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
}
.social_links a{
    color:white;
}


/* -------------------------------------------------------------------- Media queries */

/* large devices (tablet, etc 1150px and down) */
@media only screen and (max-width: 1492px) {
    .home-banner h2{
        font-size: 100px;
        }
  
}





/* large devices (tablet, etc 1150px and down) */
@media only screen and (max-width: 1042px) {

    .home-banner img{
     height:300px;
    }
 

    .home-banner h2{
        font-size: 80px;
    }
 
    .links-container{
        margin-left:50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

/* medium devices (988px and down) */
@media only screen and (max-width: 988px) {
    .home-banner h2{
        font-size: 50px;
    }

    .home-banner img{
        height:200px;
    }
 
    .links-container{
        margin-left:0;
        display: grid;
        grid-template-columns: auto;
    }
}

/* Small devices (phones, 373px and down) */
@media only screen and (max-width: 503px) {
    .home-banner h2{
        font-size: 40px;
    }

    .home-banner img{
        height:auto;
    }

}