{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <h3 class="form-title">Sign In</h3>
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}

      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn user_button" type="submit">{% trans "Sign In" %}</button>
        <p class="form-text">{% blocktrans %} Don't have an account? <a href="{{ signup_url }}">sign up</a> {% endblocktrans %}</p>
        <p class="form-text"> Forgot password ? <a href="{% url 'account_reset_password' %}">Reset Password </a>
      </form>
    </div>
  </div>
</div>

<script>
  let label = document.getElementsByTagName('label')
  label[0].innerText = 'Username or Email'
</script>
{% endblock %}