{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours{% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided tours, thrilling activities, and unique experiences in the Dominican Republic.{% endblock %}
{% load static %}
{% load truncate_filters %}

{% block content %}
  <h1 class="title text-center mt-3">All Blog Posts {{counts}}</h1>
  
  <div class="card-container">
  {% for post in posts %}
    <article class="card">
    <div class="content">
      <h2><a href="{% url 'blogpost_detail' post.slug %}">{{ post.title }}</a></h2>
      <p>By {{ post.author.get_full_name }} on {{ post.created_at|date:"F d, Y" }}</p>

      {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" style="max-width: 100%;">
      {% endif %}

      <div class="blog-content">
        <p>{{ post.content|truncate_from_to:"63,20" |safe}}</p>
      </div>

      <p><strong><i class="fa-solid fa-eye"></i>:</strong> {{ post.view_count }}</p>

      <!-- Social media meta tags for SEO -->
      <meta name="description" content="{{ post.get_meta_description }}">
      <meta property="og:title" content="{{ post.get_meta_title }}">
      <meta property="og:description" content="{{ post.og_description }}">
      {% if post.og_image %}
        <meta property="og:image" content="{{ post.og_image.url }}">
      {% endif %}

           <!-- Schema Markup for Excursion -->
   <!-- Schema Markup for Blog Post -->
<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ post.title }}",
      "description": "{{ post.get_meta_description }}",
      "image": "{% if post.featured_image %}{{ post.featured_image.url }}{% endif %}",  // If the blog post has an image
      "author": {
          "@type": "Person",
          "name": "{{ post.author.get_full_name }}"
      },
      "publisher": {
          "@type": "Organization",
          "name": "Punta Cana Discovery",
          "logo": {
              "@type": "ImageObject",
              "url": "https://puntacanadiscovery.com/static/logo.png"
          }
      },
      "datePublished": "{{ post.created_at|date:'Y-m-d' }}",
      "dateModified": "{{ post.updated_at|date:'Y-m-d' }}",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ request.build_absolute_uri }}"
      }
  }
  </script>
</article>
  {% endfor %}
</div>


<!-- Pagination with SEO-friendly URLs -->
{% if posts.has_other_pages %}
<nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}" rel="prev" aria-label="Previous page">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-disabled="true">Previous</span>
        </li>
        {% endif %}

        {% if posts.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}" aria-label="Go to page {{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if posts.paginator.num_pages > posts.number|add:'4' %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}" rel="next" aria-label="Next page">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-disabled="true">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
</div>
{% endif %}
{% endblock %}

