{% extends 'rentals/rentals_base.html' %}
{% load static %}

{% block content %}

<section>
    <h1 class="text-center mt-5"> All Rentals</h1>

    <div class="card-container">
        {% for rental in rentals %}
        <div class="card-wrapper">
            <a href="{% url 'detail' rental.pk %}"><img src="{{rental.main_image.url}}" alt="{{rental.image_name}}"> </a>
            <h5 class="card-title">{{rental.title|slice:":30"|title}}..</h5>
            <span
                class="ACCOM_type {% if rental.ACCOM_type == 'Room' %} green {% elif rental.ACCOM_type == 'Apartment' %} blue {% else %} red {% endif %}">{{rental.ACCOM_type}}</span>
            <!-- Reviews -->
            <div class="card-star">
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                {% if rental.reviews.count > 1 or rental.reviews.count == 0 %}
                <span> {{rental.reviews.count}} reviews</span>
                {% else %}
                <span> {{rental.reviews.count}} review</span>
                {% endif%}
            </div>

            <div class="price">
                £{{rental.Price}}
            </div>
        </div>

        {% endfor%}
        <div>
</section>

{% endblock content %}