{% extends 'rentals/rentals_base.html' %}
{% load static %}

{% block content %}


    <section>
        <h1 class="text-center mt-5"> All Rentals</h1>

        <div class="card-container">

            <div class="card-wrapper">
            <img src="https://content.r9cdn.net/rimg/kimg/58/48/b4f6c8d34949f9d6.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
               <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
               <div class="card-star">
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                   <span> 8.5 very good</span>
               </div>
               <div class="price">
                   £320
               </div>
           </div>

           <div class="card-wrapper">
               <img src="https://content.r9cdn.net/rimg/himg/b1/11/59/ice-76561-68478003_3XL-602480.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                  <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                  <div class="card-star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <span> 8.5 very good</span>
                  </div>
                  <div class="price">
                      £320
                  </div>
              </div>

              <div class="card-wrapper">
               <img src="https://content.r9cdn.net/rimg/himg/69/a8/be/arbisoftimages-3214352-Royalton_Bavaro_LR_005-image.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                  <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                  <div class="card-star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <span> 8.5 very good</span>
                  </div>
                  <div class="price">
                      £320
                  </div>
              </div>

              <div class="card-wrapper">
               <img src="https://content.r9cdn.net/rimg/himg/10/a0/17/booking-313415-64680102.jpg_k=5ce3b2673b5e48703db329a46f1b61739c5c4bd4efdfc894b55d53e9b2fa1327_o=-720214.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                  <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                  <div class="card-star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <span> 8.5 very good</span>
                  </div>
                  <div class="price">
                      £320
                  </div>

              </div>

            <div class="card-wrapper">
                <img src="https://content.r9cdn.net/rimg/kimg/58/48/b4f6c8d34949f9d6.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                   <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                   <div class="card-star">
                       <i class="fa-solid fa-star"></i>
                       <i class="fa-solid fa-star"></i>
                       <i class="fa-solid fa-star"></i>
                       <i class="fa-solid fa-star"></i>
                       <i class="fa-solid fa-star"></i>
                       <span> 8.5 very good</span>
                   </div>
                   <div class="price">
                       £320
                   </div>
               </div>
    
               <div class="card-wrapper">
                   <img src="https://content.r9cdn.net/rimg/himg/b1/11/59/ice-76561-68478003_3XL-602480.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                      <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                      <div class="card-star">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <span> 8.5 very good</span>
                      </div>
                      <div class="price">
                          £320
                      </div>
                  </div>
    
                  <div class="card-wrapper">
                   <img src="https://content.r9cdn.net/rimg/himg/69/a8/be/arbisoftimages-3214352-Royalton_Bavaro_LR_005-image.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                      <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                      <div class="card-star">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <span> 8.5 very good</span>
                      </div>
                      <div class="price">
                          £320
                      </div>
                  </div>
    
                  <div class="card-wrapper">
                   <img src="https://content.r9cdn.net/rimg/himg/10/a0/17/booking-313415-64680102.jpg_k=5ce3b2673b5e48703db329a46f1b61739c5c4bd4efdfc894b55d53e9b2fa1327_o=-720214.jpg?width=536&height=402&crop=true" alt="boat-escursion image">
                      <h5 class="card-title">Paradisus Palma Real Golf ...</h5>
                      <div class="card-star">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <span> 8.5 very good</span>
                      </div>
                      <div class="price">
                          £320
                      </div>
    
                  </div>
    

           <div>
        </div>
    
    
    </section>






{% endblock content %}