/*-------------------------------------------------------------------- Variables */

:root {
    --white: #ffffff;
    --black: #212529;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --orange-pantone: #f85a15;
    --orange-pantone-lighter: #f96728;
    --gun-metal: #212a30;
    --font: sans-serif, "Montserrat", Georgia;
    --culture: #f2f2f2;
}

/* -------------------------------------------------------------------- Resets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--culture);
    min-height: 400px;
    margin-bottom: 150px;
    font-family: var(--font)
}

/* -------------------------------------------------------------------- general classes */
.title {
    text-align: center;
    font-size: 2.5rem;
}

/* -------------------------------------------------------------------- navbar */
.sear-btn {
    background-color: var(--orange-pantone-lighter);
    color: var(--white);
    border: transparent;
}

.navbar-brand img {
    width: 200px;
}

.links-container {
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/* --------------------------------------------------------------------  404 and 500 error page*/

#error-404-container {
  width: 50%;
  margin: 10px auto;
}

.card img {
  width: 400px;
  margin: auto;
}

.links_for_404 {
  font-size: 10px;
  background-color: var(--orange-pantone);
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: auto;
  margin: 50px auto;
  color: var(--white);
  text-decoration: none;
}

.links_for_404:hover {
  background-color: var(--orange-pantone-lighter);
  color: var(--white);
}

/* -------------------------------------------------------------------- Admin section */

.card-admin-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    width: 80%;
    margin: 50px auto;
}

.color-excursion {
    background-color: #4cb4c7;
}

.color-rental {
    background-color: #7abecc;
}

.color-user {
    background-color: #7CD1C0;
    color: var(--white);
}

/* Data tables */
.data_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7CD1C0;
    color: var(--white);
    border: 1px solid var(--culture);
    padding: 8px;
}

.data_table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

.data_table td {
    font-family: sans-serif;
    padding: 10px;
    border: 1px solid #ddd;
    padding: 8px;
}

.table_wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_wrapper tr:hover {
    background-color: #ddd;
}

.table_wrapper {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}

.delete_wraper {
    width: 50%;
    margin: 50px auto;
}

.delete_img {
    width: 200px;
}

.thumbnail-form {
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    z-index: -1;
}

.x-delete {
    color: red;
    position: absolute;
    background-color: var(--white);
}

/* admin form */
.admin-form {
    width: 800px;
    margin: auto;
}

/* -------------------------------------------------------------------- home /excursion / rentals card */
/* Slides */
.home-banner h2 {
    font-family: "Qwitcher Grypen", sans-serif;
    position: absolute;
    bottom: 0px;
    left: 2%;
    font-size: 120px;
    animation: typing 2s steps(18), blink .5s step-end 3 alternate;
    white-space: nowrap;
    overflow: hidden;
    width: 32ch;
    color: var(--white)
}

.heading {
    display: none;
}

.slide img {
    width: 100%;
}

.slide {
    display: none;
}

.active {
    display: block;
    z-index: -1;
}

/* cards sections */
.section-title {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: 10px auto;
    justify-content: space-around;
    align-items: center;
}

.section-title h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #192024;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited {
    background-color: var(--orange-pantone) !important;
}

.btn-outline-secondary {
    border: 2px solid var(--orange-pantone);
    font-family: var(--font);
}


.card-container {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 14px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #192024;
    margin: 12px 0 2px;
}


.card-wrapper {
    margin: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.card-wrapper img {
    border-radius: 10px;
    width: 300px;
    height: 310px;
    object-fit: cover;
}

.card-wrapper>img:hover {
    opacity: 0.7;
}


.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font);
}

.card-star i {
    font-size: 14px;
    color: var(--orange-pantone);
}

.card-star span {
    font-size: 14px;
    color: var(--gun-metal);
    font-family: var(--font);
    font-weight: 600;
}

.ACCOM_type {
    color: white;
    padding: 2px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #008CBA;

}

.red {
    background-color: #f44336;
}
/* ------------------------------------Cart */
.cart{
    position: relative;
}
.cart_quantity{
    background-color: var(--orange-pantone);
    width:25px;
    height:25px;
    border-radius: 50%;
    position: absolute;
    left:15px;
    top:20px;
    color:white;
    line-height: 10px 50px;
    padding-left: 8px;
}


/* ----------------Animation for home*/
@keyframes typing {
    0% {
        width: 0;
        color: var(--white);
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
        border-right: 3px solid;
    }
}

.center {
    margin: 100px auto;
    width: 200px;
}





/* ------------------------------------------------------------------search classes */

.no-result {
    margin-top: 100px;
}

.site-color {
    color: var(--orange-pantone)
}

/* -------------------------------------------------------------------- detail page */
.item-detail-and-image-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 100px;
    padding: 20px;
}

.detail-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

.main-image img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.detail-price {
    font-family: var(--font);
    font-size: 20px;
    ;

}

.item-detail {
    padding: 1.5rem;
    width: 420px;
    height: 500px;
}

.photos {
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 10px;
}

.thumbnails {
    padding: 5px;
    border-radius: 10px;
    opacity: 0.5;
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}

.photos-and-icon-wrapper {
    position: relative;
}

#arrow-left {
    position: absolute;
    left: -35px;
    top: 23px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-size: 30px;

}

#arrow-right {
    position: absolute;
    right: -35px;
    top: 23px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-size: 30px;
}

.active-image {
    opacity: 1;
    border: 2px solid var(--orange-pantone);
}

#arrow-left:hover,
#arrow-right:hover {
    opacity: 0.5;
}

.overview {
    width: 55%;
    margin: 50px auto;
    text-align: justify;
}

/* Review section */
.review-title {
    margin-top: 10px;
    font-family: var(--font);
    font-size: 30px;
    text-align: center;
}

.reviews {
    font-family: var(--font);
    font-size: 15px;
    margin: auto;
    width: 70%;
}

.sub_container {
    margin: 20px;
}

#user_circle {
    font-size: 30px;
}

.user_name {
    top: -5px;
    position: relative;
    color: var(--black);
}

.date_created {
    color: rgb(86, 89, 89);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.review_content {
    color: rgb(15, 17, 17);
    font-family: var(--font);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

/* review form */
.review-form {
    width: 300px;
    margin: auto;
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    float: left;
    line-height: 23px;
}

.rating>label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: var(--orange-pantone);
    font-size: 25px;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
    color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: var(--orange-pantone);
}

.rating-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-column-gap: 10px;
}

.message {
    text-align: center;
    width: 30%;
    margin: auto;
}

/* -------------------------------------------------------------------- accounts signup/signin etc */

.user_card {
    width: 350px;
    margin-top: 5%;
    background: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

.user_button {
    width: 100%;
    background-color: var(--orange-pantone);
    color: var(--white)
}

.user_button_sm {
    background-color: var(--orange-pantone);
    color: var(--white)
}



.my_hover:hover {
    color: var(--white);
    background-color: var(--orange-pantone-lighter);
    border-color: var(--white);
}

.my_hover:focus {
    color: var(--white);
    background-color: var(--orange-pantone-lighter);
    border-color: var(--white);
}

.form-title {
    text-align: center;
}

ul.socialaccount_providers {
    list-style-type: none;
    margin: auto;
    padding-left: 0;
}

.socialaccount_ballot a {
    text-decoration: none;
}

.socialaccount_ballot {
    height: 40px;

}

.socialaccount_ballot img {
    width: 100%;
    height: 35px;
    object-fit: cover;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* -------------------------------------------------------------------- footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--gun-metal);
    background-size: cover;
    box-shadow: var(--shadow);
    color: var(--white);
    display: grid;
    grid-template-columns: auto;
}

.footer-copyright {
    margin: auto;
}

.social-media-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
}

.social_links a {
    color: white;
}

/* -------------------------------------------------------------------- Contact page */
.contact_wrapper {
    clear: both;
    overflow: hidden;
    margin-bottom: 150px;
  }
  
  .contact_form {
    width: 500px;
    height: 500px;
    margin-top: 78px;
    margin: auto;
  }
  
  .contact_word {
    font-size: 80px;
    font-family: "noticia text", serif;
    color: var(--orange-pantone-lighter);
    text-align: center;
    margin-top: 100px;
  }
  
  .contact_form p {
    color: var(--orange-pantone);
    text-align: center;
  }
  
  .contact_form .input-field[type=text],
  .input-field[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    color: var(--black);
    background-color: var(--white);
    font-family: "open sans", sans-serif;
    font-size: 15px;
    height: 40px;
    border: none;
  }
  
  .contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 5px 19px;
    margin: 2px 0;
    box-sizing: border-box;
    color: black;
    background-color: var(--white);
    font-family: "open sans", sans-serif;
    font-size: 15px;
    resize: none;
    border: none;
  }
  
  .contact_form input[type=text]:hover,
  .contact_form input[type=email]:hover,
  .contact_form textarea:hover {
    border: 1px solid var(--black);
  }
  
  
  textarea::placeholder {
    color: var(--black);
    font-family: "open sans", sans-serif;
    font-size: 15px;
  
  }
  
  ::placeholder {
    color: var(--black);
    font-family: "open sans", sans-serif;
    font-size: 15px;
  }
  
  
  .form_btn {
    float: right;
    border: none;
    font-size: 14px;
    color: var(--Granite-grey);
    animation: change-btn-form-color 0.5s alternate infinite;
  }
  
  .form_btn:hover {
    color: var(--orange-pantone);
    cursor: pointer;
  }
  
  /* form animation for btn */
  @keyframes change-btn-form-color {
    0%{
        color: var(--black);
    }
    100%{
        color: var(--orange-pantone);
    }
}

/* -------------------------------------------------------------------- email page comfirmation */
.email_page-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  
  .sub-container {
    max-width: 800px;
    height: auto;
    border-radius: 5px;
    padding: 15px;
  }

  .sub-container p {
    font-size: 18px;
    font-family: "noticia text", serif;
    color: var(--orange-pantone);
  }
  
  .sub-container h1 {
    font-family: "noticia text", serif;
    color: var(--orange-pantone);
  }
  
  .btn_email_sent {
    background-color: var(--orange-pantone);
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .btn_email_sent:hover {
    color: var(--white);
    background-color: var(--orange-pantone-lighter);
  }
  
  .email_page-wrapper {
    text-decoration: none;
  }

/* -------------------------------------------------------------------- Media queries */

/* large devices (tablet, etc 1492px and down) */
@media only screen and (max-width: 1492px) {
    .home-banner h2 {
        font-size: 100px;
    }

    .overview {
        width: 70%;
    }

}

/* large devices (tablet, etc 1270px and down) */
@media only screen and (max-width: 1270px) {
    .card-container {
        grid-template-columns: auto auto auto;
    }

    /* --detail page */
    .main-image img {
        width: 400px;
        height: 400px;
    }

    .item-detail {
        width: 320px;
    }

    .photos {
        width: 400px;
    }



}


/* large devices (tablet, etc 1042px and down) */
@media only screen and (max-width: 1042px) {

    .home-banner img {
        height: 300px;
    }

    .home-banner h2 {
        font-size: 80px;
    }

    .links-container {
        margin-left: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

/* medium devices (988px and down) */
@media only screen and (max-width: 988px) {
    .card-container {
        grid-template-columns: auto auto;
    }

    .home-banner h2 {
        font-size: 50px;
    }

    .home-banner img {
        height: 200px;
    }

    .links-container {
        margin-left: 0;
        display: grid;
        grid-template-columns: auto;
    }

    /* --detail page */
    .main-image img {
        width: 300px;
        height: 400px;
    }

    .photos {
        width: 300px;
    }

    .item-detail-and-image-container {
        width: 100%;
        grid-column-gap: 50px;
    }

    .detail-title {
        font-size: 1rem;
    }

    /* admin form */
    .admin-form {
        width: 700px;
    }


}

@media only screen and (max-width: 780px) {

    /* --detail page */
    .main-image img {
        width: 400px;
        height: 400px;
    }

    .photos {
        width: 400px;
    }

    .item-detail-and-image-container {
        width: 100%;
        grid-column-gap: 0;
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .detail-title {
        font-size: 1rem;
        padding: 20px;
        width: 80%;
        margin: auto;
    }

    .thumbnails {
        width: 70px;
    }

    .item-detail {
        padding: 1.5rem;
        width: 400px;
    }

      /* admin form */
      .admin-form {
        width: 90%;
    }

  /* contact page */

  .contact_word {
    font-size: 44px;
    float: none;
    margin: auto;
    margin-top: 100px;
    padding-left: 15px;
  }

  .contact_form {
    width: 345px;
    float: none;
    margin: 29px auto;
    overflow: hidden;
  }

  .form_btn {
    border: none;
    font-size: 14px;
    font-weight: bold;
  }



}



/* medium devices (631px and down) */
@media only screen and (max-width: 631px) {
    .card-container {
        grid-template-columns: auto;
    }

    .section-title h3 {
        font-size: 17px;
    }

    .btn {
        font-size: 15px;
    }

    #footer {
        height: 50px;
        grid-template-columns: auto auto;
    }

    .footer-copyright {
        margin: auto;
        line-height: 50px;
    }

    .social-media-links {
        column-gap: 15px;
        line-height: 50px;
    }

    .social_links a {
        font-size: 20px;
    }

    .user_card {
        width: 70%;
        margin: 10% auto;
    }

    .reviews {
        width: 90%;
    }

    /* admin section */
    .delete_img {
        width: 100%;
    }
}


/* Small devices (phones, 503px and down) */
@media only screen and (max-width: 503px) {
    .home-banner h2 {
        font-size: 40px;
    }

    .home-banner img {
        height: auto;
    }

    /* --detail page */
    .item-detail-and-image-container {
        width: 100%;
        grid-column-gap: 0;
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .main-image img {
        width: 300px;
        height: 300px;
    }

    .photos {
        width: 300px;
    }

    .detail-title {
        width: 80%;
        margin: auto;
    }

    .thumbnails {
        width: 70px;
    }

    .item-detail {
        padding: 1.5rem;
        width: auto;
    }

    /* review form */
    .review-form {
        width: 260px;
        margin: auto;
    }

}

/* very Small devices (phones, 373px and down) */
@media only screen and (max-width: 373px) {
    .contact_form {
      width: 100%;
      padding: 10px;
    }
  
    .contact_word {
      font-size: 30px;
    }
  
  }