/*-------------------------------------------------------------------- Variables */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
:root {
    --black: #212529;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --Yellow: #FBB900;
    --Yellow_lighter: #FEDF00;
    --gun-metal: #212a30;
    --font: "Inter", Sans-serif;
    --culture: #f2f2f2;
    --white:white;
}



/* -------------------------------------------------------------------- Resets */
.draggable {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200px;
    cursor: grab;
    z-index: 10;
    right:0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--culture);
    font-family: var(--font);
}

a{
    text-decoration: none; /* Remove underline from anchor tags */
    color: var(--black);
}
.icon i{
    color:white;
}
/*------------------------------------------------------------------------ dispaly 


*/
.display_on_phone{
    display: none;
}



/* -----------------------------other */

#whatsapp-floating{
width:50px;
}
.whatsap-container{
    text-align: center;
    padding: 10px;
}

#draggableElement{
    position: fixed;
    top:300px;
    right:-10px;
}
#logo{
    border-radius: 50%;
    position: relative;
    width:300px;
    height:300px;
    top:10px;
}
#logo-img{
width:30px;
}
#initial{
  font-size: 15px;
  position: absolute;  
  top: 25px;
  left:50%;
  font-weight: bolder;
  color:black;
  background-color: var(--Yellow);
  border-radius: 50%;
  padding: 5px;
}
#explore{
    color:black;
    font-weight: bolder;
    font-size: 14px;
}
#pc{
border-radius: 50%;
color:black;
font-weight: bolder;
font-size: 14px;
}

/* -------------------------------------------------------------------- general classes */
.title {
    text-align: center;
    font-size: 2.5rem;
}

.nav-link {
    color: var(--gun-metal)
}

.nav-link:hover {
    color:var(--Yellow_lighter);
}

.nav-link:focus {
    color: var(--Yellow_lighter);
}


/* -------------------------------------------------------------------- navbar */
#google_translate_element{
text-align: center;
padding: 5px;
background-color: var(--Yellow);
margin: auto;
}

.sear-btn {
    background-color: var(--Yellow);
    color: var(--black);
    border: transparent;
}

.navbar-brand img {
    width: 255px;
}

.links-container {
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* hover for links  */
.underline-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }

  .underline-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--Yellow); /* Set the line color */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }

  .underline-btn:hover {
    cursor: pointer;
  }

  .underline-btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/* --------------------------------------------------------------------  404 and 500 error page*/
#error-404-container {
    width: 50%;
    margin: 10px auto;
}

.card img {
    width: 400px;
    margin: auto;
}

.links_for_404 {
    font-size: 10px;
    background-color: var(--Yellow);
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: auto;
    margin: 50px auto;
    color: var(--black);
    text-decoration: none;
}

.links_for_404:hover {
    background-color: var(--Yellow_lighter);
    color: var(--black);
}


/* -------------------------------------------------------------------- successful payment page */

/* ------------------------------------------------discount print */
#dicount_to_print_container{
    display: grid;
    grid-template-columns: auto auto auto;
    width:900px;
    position: relative;
}
.childre_printer_container{
    width: 100%;
}
.subcontainer{
    color:black;
    width: 30%;
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left:50%;
}

.content{
font-size: 15px;
bottom: 10%;
}
#img_container{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.reference_code{
    font-size: 50px;
}

.payment_header {
    background-color: var(--Yellow);
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.check {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.check i {
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
}

.content {
    text-align: center;
    background-color: var(--white);
    padding: 20px;
}

.content a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: rgba(255, 102, 0, 1);
    transition: all ease-in-out 0.3s;
}

.content a:hover {
    text-decoration: none;
    background: #000;
}

.content h1 {
    font-size: 25px;
    padding-top: 25px;
}


/* -------------------------------------------------------------------- Admin section */

.card-admin-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    width: 80%;
    margin: 50px auto;
}
.card-admin-wrapper_seller{
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 50px;
    width: 80%;
    margin: 50px auto;
}

.color-excursion {
    background-color: #4cb4c7;
}

.color-rental {
    background-color: #7abecc;
}

.color-user {
    background-color: #7CD1C0;
    color: var(--black);
}

/* Data tables */
.data_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7CD1C0;
    color: var(--black);
    border: 1px solid var(--culture);
    padding: 8px;
}

.data_table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

.data_table td {
    font-family: var(--font);
    padding: 10px;
    border: 1px solid #ddd;
    padding: 8px;
}

.table_wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_wrapper tr:hover {
    background-color: #ddd;
}

.table_wrapper {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: var(--font);
    border-collapse: collapse;

}

.delete_wraper {
    width: 50%;
    margin: 50px auto;
}

.delete_img {
    width: 200px;
}

.thumbnail-form {
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    z-index: -1;
}

.x-delete {
    color: red;
    position: absolute;
    background-color: var(--black);
}

/* admin form */
.admin-form {
    width: 800px;
    margin: auto;
}

/* -------------------------------------------------------------------- home /excursion / rentals card */
.image-container{
    position: relative;
}
.img_icon1,.img_icon2,.img_icon3{
    position: absolute;

}
  .img_icon1 {
    bottom: 90px; /* Adjust the top position as needed */
    left: 25px; /* Adjust the left position as needed */
    
  }

  .img_icon2 {
    bottom: 60px; /* Adjust the top position as needed */
    left: 25px; /* Adjust the left position as needed */
  }

  .img_icon3 {
    bottom: 30px; /* Adjust the top position as needed */
    left: 25px; /* Adjust the left position as needed */
  }



.button_card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

 .my-button {
    padding: 10px 20px;
    background-color: #fbb900;
    color: var(--black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.my-button:hover {
    transform: scale(1.1);
    color:var(--black)
}

/* Slides */
.home-banner {
    position: relative;
}

.home-banner h3 {
    position: absolute;
    bottom: 0px;
    left: 2%;
    font-size: 60px;
    animation: typing 2s steps(18), blink .5s step-end 3 alternate;
    black-space: nowrap;
    overflow: hidden;
    width: 32ch;
    color: var(--black);
    position: absolute;
    z-index: 5;
}

.heading {
    display: none;
}

.slide img {
    width: 100%;
}

.slide {
    display: none;
}

.active {
    display: block;
    z-index: -1;
}

/* cards sections */
.section-title {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: 2px auto;
    justify-content: space-around;
    align-items: center;
}

.section-title h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #192024;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited {
    background-color: var(--Yellow) !important;
}

.btn-outline-secondary {
    border: 2px solid var(--Yellow);
    font-family: var(--font);
}


.card-container {
    width: 90%;
    margin: 2px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 14px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #192024;
    margin: 12px 0 2px;
}


.card-wrapper {
    margin: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.card-wrapper img {
    border-radius: 10px;
    width: 300px;
    height: 310px;
    object-fit: cover;
}

.card-wrapper>img:hover {
    opacity: 0.7;
}


.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font);
}

.card-star i {
    font-size: 14px;
    color: var(--Yellow);
}

.card-star span {
    font-size: 14px;
    color: var(--gun-metal);
    font-family: var(--font);
    font-weight: 600;
}

.ACCOM_type {
    color: black;
    padding: 2px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #008CBA;

}

.red {
    background-color: #f44336;
}


/* --------------------------------------------------------------------- Cart */
/* -------------------------------------------------pop up cart timer header */

.header-pop-up-cart{
    position: relative;
    width:100%;
}
.cart-pop-up-title{
font-weight: bolder;
font-size: 1.5rem;
line-height: 1.875rem;
padding: 10px;
margin-left: 100px;
}
.cart-pop-up-img{
    margin-left: 110px;
    margin-top: 10px;
}
.item-title-pop-up{
    margin-left: 10px;
}
.cart-excursion_date-pop-up{
    margin-left: 220px;
    margin-top: -20px;
}

.minute-pop-up{
    position: absolute;
    right: -10px;
}
#time-container{
    position: absolute;
    right:110px;
    top:10px;
}

.p-pop-cart{
    font-weight: bolder;
}
.cart-pop-up-btn{
    position: absolute;
    right:120px;
    top:50px;
}
.cart {
    position: relative;
}

.site-default-color {
    color: var(--Yellow)
}

.bg-site-color {
    background-color: var(--Yellow);
}

.cart-item-detail {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    height: fit-content;
}

.cart-detail-img {
    width: 150px;
}

.cart-detail-header,
.cart-detail-subcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 20px;
}

.cart-icon-x {
    color: red;
    font-size: 35px;
    margin-top: 3px;
}

.cart-icon-x:hover {
    color: rgb(243, 136, 136);
    cursor: pointer;
}

.cart-default-color {
    color: var(--Yellow);
    font-size: 20px;
}

.cart-default-color:hover {
    color: #f58758;
    cursor: pointer;
}

.cart-price-summary {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background-color: var(--white);
    margin: 10px;
    height: fit-content;
}


.float-right {
    float: right;
}

.link-side {
    width: 100%;
}

.cart-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'cart-item-detail' 'cart-price-summary';
}

.cart-input {
    width: 65px;
}

.update-cart-btn {
    background-color: var(--Yellow);
    font-size: 10px;
}

.update-cart-btn:hover {
    border: 2px solid var(--Yellow);
}

.visa {
    color: navy;
}

.discover {
    color: orange;
}

.amex {
    color: blue;
}

.mastercard {
    color: red;
}

.visa,
.discover,
.amex,
.mastercard {
    font-size: 35px;
}



/* ----------------Animation for home*/
@keyframes typing {
    0% {
        width: 0;
        color: var(--black);
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
        border-right: 3px solid;
    }
}

.center {
    margin: 100px auto;
    width: 200px;
}

/* --------------------------------------------------------------------- checkout page */

.paypal-logo{
    width:200px;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }

.col-75 {
        -ms-flex: 75%; 
        flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
.col-25 {
    -ms-flex: 25%; 
    flex: 25%;
}
  

.row input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }


  .row .btn {
    background-color: var(--Yellow);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .row  .btn:hover {
    background-color: var(--Yellow_lighter);
  }

#paypal-button-container{
    width:inherit;
    

}

#payment-button-container{
display: none;
}
.col-md-8{
    margin: auto; 
    padding:20px;
    width:91%
}

.row{
     width:91%; 
     margin: auto;
}
.col-md-4{
    margin:auto; 
    width:100%;
}

.row .container {
    position: relative;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border-radius: 3px;
  }


.row label {
    margin-bottom: 10px;
    display: block;
  }
  
 .row .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  } 

  .row span.price {
    float: right;
    color: grey;
  }
  

/* Responsive layout */
@media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

/* ------------------------------------------------------------------search classes */

.no-result {
    margin-top: 100px;
}

.site-color {
    color: var(--Yellow)
}


/* -------------------------------------------------------------------- detail page */
.item-detail-and-image-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 100px;
    padding: 20px;
}

.detail-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.main-image img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.detail-price {
    font-family: var(--font);
    font-size: 20px;
}

.item-detail {
    padding: 1.5rem;
    width: 420px;
    height: fit-content;
}

.photos {
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 10px;
    position: relative;
}

.thumbnails {
    padding: 5px;
    border-radius: 10px;
    opacity: 0.5;
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}

/* .photos-and-icon-wrapper {
    position: relative;
} */

#arrow-left {
    position: absolute;
    left: 2%;
    top: 30%;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-size: 30px;
    color: var(--white);

}

#arrow-right {
    position: absolute;
    right: 2%;
    top: 30%;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-size: 30px;
    color: var(--white);
}

.active-image {
    opacity: 1;
    border: 2px solid var(--Yellow);
}

#arrow-left:hover,
#arrow-right:hover {
    opacity: 0.5;
}

.overview {
    width: 55%;
    margin: 50px auto;
    text-align: justify;
}

/* Review section */
.review-title {
    margin-top: 10px;
    font-family: var(--font);
    font-size: 30px;
    text-align: center;
}

.reviews {
    font-family: var(--font);
    font-size: 15px;
    margin: auto;
    width: 70%;
}

.sub_container {
    margin: 20px;
}

#user_circle {
    font-size: 30px;
}

.user_name {
    top: -5px;
    position: relative;
    color: var(--black);
}

.date_created {
    color: rgb(86, 89, 89);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.review_content {
    color: rgb(15, 17, 17);
    font-family: var(--font);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

/* review form */
.review-form {
    width: 300px;
    margin: auto;
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    float: left;
    line-height: 23px;
}

.rating>label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: var(--Yellow);
    font-size: 25px;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
    color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: var(--Yellow);
}

.rating-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-column-gap: 10px;
}

.message {
    text-align: center;
    width: 30%;
    margin: auto;
}


.form_detail_btn {
    display: grid;
    grid-template-columns: auto auto;
}

/* -------------------------------------------------------------------- accounts signup/signin etc */

.user_card {
    width: 350px;
    margin-top: 5%;
    background: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

.user_button {
    width: 100%;
    background-color: var(--Yellow);
    color: var(--black)
}

.user_button_sm {
    background-color: var(--Yellow);
    color: var(--black)
}



.my_hover:hover {
    color: var(--black);
    background-color: var(--Yellow_lighter);
    border-color: var(--black);
}

.my_hover:focus {
    color: var(--black);
    background-color: var(--Yellow_lighter);
    border-color: var(--black);
}

.form-title {
    text-align: center;
}

ul.socialaccount_providers {
    list-style-type: none;
    text-align: center;

}

.socialaccount_ballot a {
    text-decoration: none;
}

.socialaccount_ballot {
    height: 40px;

}

.socialaccount_ballot img {
    width:200px;
    height: auto;
    object-fit: cover;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* -------------------------------------------------------------------- footer */
#footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--Yellow);
    background-size: cover;
    box-shadow: var(--shadow);
    color: var(--black);
    display: grid;
    grid-template-columns:  auto auto;
    padding: 10px;
}

.footer-copyright {
    margin: auto;
}

.social-media-links {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
}

.social_links a {
    color: var(--black);
}
.referecia{
    display: grid;
justify-content: center;
}

/* -------------------------------------------------------------------- Contact page */
.contact_wrapper {
    clear: both;
    overflow: hidden;
    margin-bottom: 150px;
}

.contact_form {
    width: 500px;
    height: 500px;
    margin-top: 78px;
    margin: auto;
}

.contact_word {
    font-size: 80px;
    font-family: var(--font);
    color: var(--black);
    text-align: center;
    margin-top: 100px;
}

.contact_form p {
    color: var(--Yellow);
    text-align: center;
}

.contact_form .input-field[type=text],
.input-field[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    color: var(--black);
    background-color: var(--white);
    font-family: var(--font);
    font-size: 15px;
    height: 40px;
    border: none;
}

.contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 5px 19px;
    margin: 2px 0;
    box-sizing: border-box;
    color: black;
    background-color: var(--white);
    font-family: var(--font);
    font-size: 15px;
    resize: none;
    border: none;
}

.contact_form input[type=text]:hover,
.contact_form input[type=email]:hover,
.contact_form textarea:hover {
    border: 1px solid var(--black);
}


textarea::placeholder {
    color: var(--black);
    font-family: var(--font);
    font-size: 15px;

}

::placeholder {
    color: var(--black);
    font-family: var(--font);
    font-size: 15px;
}


.form_btn {
    float: right;
    border: none;
    font-size: 14px;
    color: var(--Granite-grey);
    animation: change-btn-form-color 0.5s alternate infinite;
}

.form_btn:hover {
    color: var(--Yellow);
    cursor: pointer;
}

/* form animation for btn */
@keyframes change-btn-form-color {
    0% {
        color: var(--black);
    }

    100% {
        color: var(--Yellow);
    }
}

/* -------------------------------------------------------------------- email page comfirmation */
.email_page-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.sub-container {
    max-width: 800px;
    height: auto;
    border-radius: 5px;
    padding: 15px;
}

.sub-container p {
    font-size: 18px;
    font-family: var(--font);
    color: var(--Yellow);
}

.sub-container h1 {
    font-family: var(--font);
    color: var(--Yellow);
}

.btn_email_sent {
    background-color: var(--Yellow);
    border: none;
    color: var(--black);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn_email_sent:hover {
    color: var(--black);
    background-color: var(--Yellow_lighter);
}

.email_page-wrapper {
    text-decoration: none;
}
.subcontainer span{
    font-size: 30px;
}

/* ------------------------------------------------CSS styles for the model */
    /* Custom CSS */
      .custom-modal {
        max-height: 50vh; /* You can adjust this value to make the modal shorter or taller */
    }

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Style for the modal */
.task-model{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: var(--white);
    max-width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* Style for the close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  /* Style for the form labels */
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Style for the input fields */
  .task-model input[type="text"],
  .task-model textarea,
  .task-model select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Style for the submit button */
  .task-model button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
/* Style for the "Active" checkbox */
 .task-model label[for="templateActive"] {
    display: inline-block;
    margin-right: 10px;
  }
  .task-model button[type="submit"]:hover {
    background-color: #45a049;
  }



.product {
    padding: 5px;
    border: 2px solid #ccc;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discount-badge {
    background-color: #FF5733;
    color: white;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 5px;
}

.product-code {
    font-size: 16px;
    margin: 5px 0;
}

#countdown {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-top: 5px;
}

/* for the card plastic */
.dicount_on_card_badge{
    position: absolute;
    left: 400px;
    top:30px;
    width:150px;
}

.members_only_text{
color: white;
position: absolute;
top:150px;
left:450px;
}
/* --------------------------------------------------------------main site look */
.group-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--Yellow);
    color: var(--Yellow);
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px; /* Add some margin between buttons */
  }

  .group-button:hover {
    background-color: var(--Yellow);
    color: #ffffff;
  }
#hero-section {
    position: relative;
    color: #fff;
}

#hero-image {
    width: 100%;
    height: 500px;
    opacity: 0.5;
    background-color: #5092cb;
}

#title_hero{
    position: absolute;
    width:60%;
    top: 40%;
    left: 50px;
    font-size: 3em;
    font-weight: bolder;
}

#subtitle {
    position: absolute;
    top: 50%;
    left: 50px;
    font-weight: bolder;
}


#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: white;
    width:450px;
    border-radius: 44px;
    height:56px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border:none;
    outline: none; /* Remove focus border */
    line-height: 1.375rem;
    font-size: 20px;
}
#search-input::placeholder{
    font-weight: 20px;
    color: #1a2b49;
    font-size: 15px;

}


#search-button {
    width: 20%;
    padding: 10px;
    background-color: #FBB900;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    border: none;
}
#search-button:hover{
    background-color: #FEDF00;

}

#loop-icon {
    width: 10%;
    margin-left: 10px;
}

#logo-site {
    position: absolute;
    top: 10px;
    left: 35px;
    width: 300px; /* Adjust the size as needed */
    /* z-index: 1; */
}

#other-icons {
    position: absolute;
    top: 10px;
    right: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.icon {
    font-size: 20px;;
}
/* dropdown */
.site-color{
color:var(--white);
background-color: var(--Yellow);
}
.site-color:hover{
    background-color: var(--Yellow_lighter);
}

.button-container {
    text-align: center;
}

/* button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
} */

.shoping-cart-container{
    position: relative;
    padding: 10px ;
    /* the profile has the same and it comes from bootstrap */
}

.dropdown-item {
    padding: 10px;
}

.cart-counter{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #FBB900;
    position: absolute;
    top:0;
    right: 10px;
    text-align: center;
}

.d-of-discovery{
    background-color: #FBB900;
    border-radius: 50%;
    padding: 10px;
    width: 10px;
    height: 10px;
}
.d{
    position: absolute;
    top:-2px;
    left:5px;
}
.subtitle-span{
    position: absolute;
    left:26px;
    top:-2px;
    width:700px
}
.square-btn-sortby{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width:150px;
    height:60px;
    left: 300px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.square-btn{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width:150px;
    height:60px;
    left: 50px;
    border-radius: 20px 20px 0 0;
}

.square-btn2{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width:150px;
    height:60px;
    left: 250px;
    border-radius: 20px 20px 0 0;

}

.main-link{
    position: absolute;
    color: #333;
    font-weight: bolder;
    padding: 20px;
    left:15px;
}
.main-link2{
    position: absolute;
    color: #333;
    font-weight: bolder;
    padding: 20px;
    left:30px;
}


.overlay {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired transparency */
pointer-events: none; /* Allows clicks to go through the overlay to the image */
}

/* -------------------------------------------------------------------- Media queries */

/* large devices (tablet, etc 1492px and down) */
@media only screen and (max-width: 1492px) {
    .home-banner h3 {
        font-size: 50px;
    }


    .overview {
        width: 70%;
    }
    #subtitle {
        top: 65%;
    }

}

/* large devices (tablet, etc 1270px and down) */
@media only screen and (max-width: 1270px) {
    .card-container {
        grid-template-columns: auto auto auto;
    }

    /* --detail page */
    .main-image img {
        width: 400px;
        height: 400px;
    }

    .item-detail {
        width: 320px;
    }

    .photos {
        width: 400px;
    }
    .payments-container{
        width:100%; 
    }
    



}


/* large devices (tablet, etc 1042px and down) */
@media only screen and (max-width: 1042px) {

    .home-banner img {
        height: 300px;
    }

    .home-banner h3 {
        font-size: 40px;
    }

    .links-container {
        margin-left: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .cart-container {
        grid-template-columns: auto;
    }

}

/* medium devices (988px and down) */
@media only screen and (max-width: 991px) {
    #phone_search_container{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        width: 100%;
        margin-top: 10px;
        }
        #search_input{
        width: 95%;
        }
        Baileyedwards1*

    .display_on_phone{
        display: block;
    }
    .display_on_computer{
        display: none;
    }


    .subcontainer{
        width: 100%;
        padding: 5px;
        left: 35%;
    }

    .reference_code{
        font-size: 25px;
    }
    .card-container {
        grid-template-columns: auto auto;
    }

    .home-banner h3 {
        font-size: 30px;
    }

    .home-banner img {
        height: 200px;
    }

    .links-container {
        margin-left: 0;
        display: grid;
        grid-template-columns: auto;
    }

    /* --detail page */
    .main-image img {
        width: 300px;
        height: 400px;
    }

    .photos {
        width: 300px;
    }

    .item-detail-and-image-container {
        width: 100%;
        grid-column-gap: 50px;
    }

    .detail-title {
        font-size: 1rem;
    }

    /* admin form */
    .admin-form {
        width: 700px;
    }

    /* 404 error */
    .card img {
        width: 100%;
        margin: auto;
    }

}
iframe {
    z-index: 0 !important;
  }

@media only screen and (max-width: 1069px) {
    /* main look site */
    #title_hero{
        width:60%;
        top: 40%;
        font-size: 30px;

    }
    #subtitle {
        top: 65%;
    }
    #search-container {
        top: 25%;
    }

    /* --detail page */
    .main-image img {
        width: 400px;
        height: 400px;
    }

    .photos {
        width: 400px;
    }

    .item-detail-and-image-container {
        width: 100%;
        grid-column-gap: 0;
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .detail-title {
        font-size: 1rem;
        padding: 20px;
    }

    .thumbnails {
        width: 70px;
    }

    .item-detail {
        padding: 1.5rem;
        width: 400px;
    }

    /* admin form */
    .admin-form {
        width: 90%;
    }

    /* contact page */

    .contact_word {
        font-size: 44px;
        float: none;
        margin: auto;
        margin-top: 100px;
        padding-left: 15px;
    }

    .contact_form {
        width: 345px;
        float: none;
        margin: 29px auto;
        overflow: hidden;
    }

    .form_btn {
        border: none;
        font-size: 14px;
        font-weight: bold;
    }



}


@media only screen and (max-width: 783px) {

    /* -------------------------------------------------------pop up timers mobile*/
    .cart-pop-up-img{
        margin-left: 0px;
        margin-top: 0px;
    }
    .header-pop-up-cart{
        text-align: center;
        position: static;
    }
    .cart-pop-up-title{
    margin-left:0;
    }
    .item-title-pop-up{
        display: block;
        padding: 5px;

    }
    .cart-excursion_date-pop-up{
        margin-left: 0px;
        margin-top: 5px;
    }
    
    .minute-pop-up{
        position: static;
    }
    #time-container{
        position: static;
    }
    
    .p-pop-cart{
        font-weight: bolder;
    }
    .cart-pop-up-btn{
        position: static;
        padding: 0px;
    }

    /* -----------------------------------------------------main mobile search  */
    #title_hero{
        width:80%;
        top: 40%;
        font-size: 30px;

    }
    #subtitle {
        top: 65%;
    }
    .subtitle-span{
        width:400px
    }
    #search-container {
        width:450px;
        border-radius: 44px;
        height:56px;
    }

    
}
/* medium devices (631px and down) */
@media only screen and (max-width: 631px) {
    .paypal-logo{
        width:100px;
    }
    
    #title_hero{
        font-size: 25px;
    }
    .subtitle-span{
        width:300px
    }
    #search-container {
        width:400px;
    }
    #other-icons {
        /* right: -5%; */
        display: grid;
        grid-template-columns: auto auto;

    }
    .subcontainer span{
        font-size: 30px;
    }

    .home-banner h3 {
        font-size: 30px;
    }

    .card-container {
        grid-template-columns: auto;
    }

    .section-title h3 {
        font-size: 17px;
    }

    .btn {
        font-size: 15px;
    }
    

    .social_links a {
        font-size: 20px;
    }

    .user_card {
        width: 70%;
        margin: 10% auto;
    }

    .reviews {
        width: 90%;
    }

    /* admin section */
    .delete_img {
        width: 100%;
    }
    #img_container{
        margin-bottom: 50px;
        height: 200px;
        object-fit:fill;
    }

}


/* Small devices (phones, 503px and down) */
@media only screen and (max-width: 503px) {
    #search-container {
        width:390px;
    }
    
    .subcontainer p,h3{
        font-size: 15px;
    }
    .home-banner h3 {
        font-size: 30px;
    }

    .home-banner img {
        height: auto;
    }

    /* --detail page */
    .item-detail-and-image-container {
        width: 100%;
        grid-column-gap: 0;
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .main-image img {
        height: 300px;
    }

    .photos {
        width: 300px;
    }

    .thumbnails {
        width: 70px;
    }

    .item-detail {
        padding: 1.5rem;
        width: auto;
    }

    /* review form */
    .review-form {
        width: 260px;
        margin: auto;
    }
  
}

/* very Small devices (phones, 373px and down) */
@media only screen and (max-width: 373px) {

    #search-container {
        width:100%;
    }
    .contact_form {
        width: 100%;
        padding: 10px;
    }

    .contact_word {
        font-size: 30px;
    }

    .cart-price-summary {
        width: 100%;
    }

    .home-banner {
        font-size: 20px;
    }
    .subcontainer p, h3{
        font-size: 10px;
    }
    .subcontainer span{
        font-size: 25px;
    }


}

