{% extends 'administrator/administrator_base.html' %}
{% load static %}

{% block content %}

<section>
    <h1 class="text-center mt-5">Excursions Admin</h1>

    <div class="text-center mt-5">
        <a href="{% url 'add_excursion'%}"><button type="button" class="btn user_button_sm my_hover"><i
                    class="fa-solid fa-plus"></i> Add Excursion</button></a>
    </div>

    <!-- flass success message -->
    <div class="message mt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Table data -->
    <div class="table_wrapper table-responsive">
        <table class="data_table">
            <tr>
                <th>Status</th>
                <th>Image</th>
                <th>Date created</th>
                <th>Title (Links to excursion details)</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>

            {% for excursion in excursions %}
            <tr>
                <td>{{excursion.status}}</td>
                <td><img src="{{excursion.main_image.url}}" alt="{{excursion.image_name}}" style="width:75px"></td>
                <td>{{excursion.date_created}}</td>
                <td><a href="{% url 'excursion_detail' excursion.pk %}">{{excursion.title|slice:":30"|title}}</td></a>
                <td>£{{excursion.Price}}</td>
                <td><a href="{% url 'edit_excursion'  excursion.pk  %}"><button class="btn btn-sm btn-primary"><i class="far fa-edit">
                                Edit</i></button></a> </td>
                <td><a href=""><button class="btn btn-sm btn-danger "><i class="fas fa-trash-alt">
                                Delete</i></button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
