{% load static %}
{% include "head.html" %}
<body>
    </nav> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></i><img src="{% static 'images/Yara-logo-white.png' %}"
                    alt="Yara name with a palm tree"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="links-container">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'administrator' %}"> <i class="fa-solid fa-gauge-high"></i>
                                Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-excursion' %}"> <i class="fa-solid fa-compass"></i>
                                Excursions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-rental' %}"><i class="fa-solid fa-bed"></i> Rentals</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i> My account
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'account_login' %}"><i
                                            class="fa-solid fa-user"></i> Sign in</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i> Hi {{user|title}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                            class="fa-solid fa-user"></i> Logout</a></li>
                            </ul>
                        </li>

                        {% endif %}
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"><i class="fa-solid fa-house-user"></i></i> Customer Home Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Main Content -->
        {% endblock %}
    </main>

    <footer id="footer">

        <!--Copyright-->
        <div class="footer-copyright">
            <p>&copy;
                <script>document.write(new Date().getFullYear())</script> Yara beach
            </p>
        </div>

        </div>


        <!--links Icon-->
        <div class="social-media-links">
            <div class="social_links">
                <a aria-label="facebook" rel="noopener" href="https://www.facebook.com/" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="social_links">
                <a aria-label="instagram" rel="noopener" href="https://www.instagram.com/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="social_links">
                <a aria-label="twitter" rel="noopener" target="_blank" href="https://twitter.com/"><i
                        class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="social_links">
                <a aria-label="tiktok" rel="noopener" target="_blank" href="https://www.tiktok.com/"><i
                        class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>

    </footer>

    <!--Bootstrap 5.2 Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- Local Javascript -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>