{% extends 'administrator/administrator_base.html' %}
{% load static %}

{% block content %}

<!-- header and card section -->
<section>
    <h1 class="text-center mt-5">Administration</h1>
    <div class="card-admin-wrapper">
        <!-- show Total Users -->
        <div class="card text-center color-user">
            <div class="card-header">
                <h5 class="card-title text-white">Total Users</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title text-white">{{total_users}}</h3>
            </div>
        </div>

        <!------------------------------------------------------------------------------ today bookings -->
        <div class="card text-center text-white color-excursion">
            <div class="card-header">
                <h5 class="card-title text-white">Today Excursions bookings</h5>
            </div>
            <div class="card-body">
                {% if today_excursion_bookings %}
                <h3 class="card-title text-white">{{today_excursion_bookings.count}} </h3>
                {%else%}
                <h3 class="card-title text-white">0</h3>
                {% endif %}
            </div>
        </div>
        <div class="card text-center text-white color-excursion">
            <!-- show tomorow excursions bookings -->
            <div class="card text-center text-white color-excursion">
               <div class="card-header">
                   <h5 class="card-title text-white">Tomorrow Excursions bookings</h5>
               </div>
               <div class="card-body">
                   {% if tomorow_excursion_bookings %}
                   <h3 class="card-title text-white">{{tomorow_excursion_bookings.count}} </h3>
                   {%else%}
                   <h3 class="card-title text-white">0</h3>
                   {% endif %}
               </div>
           </div>
   </div>
    </div>

    {% if request.user.is_superuser%}
    <h2 class="text-center mt-5">For admin only</h2>
    <form class="review-form" action="{% url 'generate_users' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt-3">
            <input class="btn user_button_sm mt-3" type="texterea" name="usernames" placeholder="Add user names" required>
            <input class="btn user_button_sm mt-3" type="submit" value="Generate users">
        </div>
    </form>
    {%endif%}
</section>

<div class="bookings_container">
        <!------------------------------------------------------------------------------ today bookings -->
    {% if today_excursion_bookings %}
    <div id="excursion_booking_section">
        <!-- today excursions bookings admin -->
        <h4 class="text-center mt-5">Today Excursion Bookings <span
                class="badge bg-site-color">{{today_excursion_bookings.count}}</span></h4>
        <div class="table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Excursion Date</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Pick up at</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in today_excursion_bookings %}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                    <td>{{order.excursion_name |slice:":25"|title}}</td>
                    <td>{{order.excursion_date}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.place_pickup}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}
                        <a aria-label="Whatsapp" rel="noopener" rel="whatsapp" href="https://api.whatsapp.com/send?phone={{order.cellphone_number}}"
                        target="_blank"><img id="whatsapp-floating" class="text-center" src="{% static 'images/excursions/whatsapp.png'%}"></a>
                    </td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <!------------------------------------------------------------------------------ Tomorow bookings -->
        {% if tomorow_excursion_bookings %}
        <h4 class="text-center mt-5">Tomorow Excursion Bookings <span
                class="badge bg-site-color">{{tomorow_excursion_bookings.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Excursion Date</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Pick up at</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in tomorow_excursion_bookings %}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                    <td>{{order.excursion_name |slice:":25"|title}}</td>
                    <td>{{order.excursion_date}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.place_pickup}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}
                        <a aria-label="Whatsapp" rel="noopener" rel="whatsapp" href="https://api.whatsapp.com/send?phone={{order.cellphone_number}}"
                        target="_blank"><img id="whatsapp-floating" class="text-center" src="{% static 'images/excursions/whatsapp.png'%}"></a>
                    </td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <!------------------------------------------------------------------------------ Future bookings -->
        {% if future_excursion_bookings %}
        <h4 class="text-center mt-5">Future Excursion Bookings <span
                class="badge bg-site-color">{{future_excursion_bookings.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Excursion Date</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Pick up at</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in future_excursion_bookings %}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                    <td>{{order.excursion_name |slice:":25"|title}}</td>
                    <td>{{order.excursion_date}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.place_pickup}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}
                        <a aria-label="Whatsapp" rel="noopener" rel="whatsapp" href="https://api.whatsapp.com/send?phone={{order.cellphone_number}}"
                        target="_blank"><img id="whatsapp-floating" class="text-center" src="{% static 'images/excursions/whatsapp.png'%}"></a>
                    </td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <!------------------------------------------------------------------------------ past bookings -->
        {% if previous_excursion_bookings %}
        <h4 class="text-center mt-5">Previous Excursion Bookings <span
                class="badge bg-site-color">{{previous_excursion_bookings.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Excursion Date</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Pick up at</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in previous_excursion_bookings %}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.excursion_name}}" style="width:75px"></td>
                    <td>{{order.excursion_name |slice:":25"|title}}</td>
                    <td>{{order.excursion_date}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.place_pickup}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}
                        <a aria-label="Whatsapp" rel="noopener" rel="whatsapp" href="https://api.whatsapp.com/send?phone={{order.cellphone_number}}"
                        target="_blank"><img id="whatsapp-floating" class="text-center" src="{% static 'images/excursions/whatsapp.png'%}"></a>
                    </td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
    <hr>
    {% endif %}
    <!--------------------------------------------------------- rentals sections -->
    <!-- today excursions bookings admin -->
    <!-- <div id="rental_booking_section">
        <h4 class="text-center mt-5">Today rental Bookings <span
                class="badge bg-site-color">{{today_rental_bookings.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Check-In</th>
                    <th>Checkout</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Price</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in today_rental_bookings %}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.rental_name}}" style="width:75px"></td>
                    <td>{{order.rental_name |slice:":25"|title}}</td>
                    <td>{{order.check_in}}</td>
                    <td>{{order.checkout}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}</td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div> -->

    <!-- Future Rental Bookings-->
    <!-- <h4 class="text-center mt-5">Future Rental Bookings <span
                class="badge bg-site-color">{{future_rental_bookings.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Check-In</th>
                    <th>Checkout</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Price</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in future_rental_bookings %}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.rental_name}}" style="width:75px"></td>
                    <td>{{order.rental_name |slice:":25"|title}}</td>
                    <td>{{order.check_in}}</td>
                    <td>{{order.checkout}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}</td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

 -->
    <!-- Previous Rental Bookings -->
    <!-- <h4 class="text-center mt-5">Previous Rental Bookings <span
                class="badge bg-site-color">{{previous_rental_bookings.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Check-In</th>
                    <th>Checkout</th>
                    <th>Adult Quantity</th>
                    <th>Child Quantity</th>
                    <th>Price</th>
                    <th>Bk.Number</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Total</th>
                </tr>

                {% for order in previous_rental_bookings%}
                <tr>
                    <td><img src="{{order.image}}" alt="{{order.rental_name}}" style="width:75px"></td>
                    <td>{{order.rental_name |slice:":25"|title}}</td>
                    <td>{{order.check_in}}</td>
                    <td>{{order.checkout}}</td>
                    <td>{{order.adult_qty}}</td>
                    <td>{{order.child_qty}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.order_number}}</td>
                    <td>{{order.cellphone_number}}</td>
                    <td>{{order.customer_email}}</td>
                    <td>{{order.full_name}}</td>
                    <td>£{{order.subtotal}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div> -->
</div>

{% endblock content %}