{% extends 'administrator/administrator_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section>
    <h1 class="title mt-5">Edit Seller </h1>

    <form class="admin-form" method="POST"  action="">
        {% csrf_token %}
        <div class="form-row">
            {% csrf_token %}
            {{form|crispy}}

            <!-- flass success message -->
            <div class="message mt-3">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <!-- Add excursion button -->
            <div class="mb-3">
                <input class="btn my_hover user_button_sm" type="submit" value="Edit seller">
            </div>
        </div>
        <!-- Go back to all excursion -->
        <a href="{% url 'seller' %}" class="btn  my_hover btn-outline-secondary" role="button"
            aria-pressed="true">Cancel</a>
    </form>
</section>
{% endblock content %}