{% extends 'administrator/administrator_base.html' %}
{% load static %}

{% block content %}

<!-- header and card section -->
<section>
    <h1 class="text-center mt-5">Administration for sellers</h1>
    <div class="text-center mt-5">
        <a href="{% url 'reference'%}"><button type="button" class="btn user_button_sm my_hover"><i
                    class="fa-solid fa-plus"></i> Create Seller</button></a>
    </div>

    <!-- {% url 'reference' %} -->
    <div class="card-admin-wrapper_seller">
        <!-- show Total Users -->
        <div class="card text-center color-user">
            <div class="card-header">
                <h5 class="card-title text-white">Total Sellers</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title text-white">{{all_sellers.count}}</h3>
            </div>
        </div>
        <div class="card text-center color-user">
            <div class="card-header">
                <h5 class="card-title text-white">Total Sellers to be pay</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title text-white">{{sellers_to_be_pay.count}}</h3>
            </div>
        </div>
    </div>
</section>

<div class="bookings_container">
    <!--------------------------------------------------------- excursions sections -->
    <div id="excursion_booking_section">
        <!-- today excursions bookings admin -->
        <h4 class="text-center mt-5">Seller to be pay <span
                class="badge bg-site-color">{{sellers_to_be_pay.count}}</span></h4>
        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Full Name</th>
                    <th>Bank Name</th>
                    <th>Reference Number</th>
                    <th>Account Number</th>
                    <th>Cedula</th>
                    <th>Bank Acount Type</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Due to pay amount</th>
                    <th></th>
                </tr>

                {% for seller in sellers_to_be_pay %}
                <tr>
                    <td>{{seller.full_name}}</td>
                    <td>{{seller.bank_name}}</td>
                    <td>{{seller.reference_number}}</td>
                    <td>{{seller.account_number}}</td>
                    <td>{{seller.cedula}}</td>
                    <td>{{seller.bank_acount_type}}</td>
                    <td>{{seller.phone_number}}</td>
                    <td>{{seller.email}}</td>
                    <td>${{seller.due_to_pay_amount}}</td>
                    <td><a href="{% url 'paid_seller' seller.pk %}"><button class="btn btn-sm btn-danger"><i
                                    class="fa-solid fa-money-bill">
                                    paid</i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- today excursions bookings admin -->
        <h4 class="text-center mt-5">Total Sellers <span class="badge bg-site-color">{{all_sellers.count}}</span></h4>
        <div>
            <form class="row g-3" action="{% url 'create_auto_sellers' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3 mt-5" style="width: 300px; margin: auto;">
                    <input type="number" name="generate_quantity_sellers" class="form-control" name="numbers"
                        placeholder="Enter Numbers" aria-label="Enter Numbers" aria-describedby="button-addon2"
                        required>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Generate sellers</button>
                </div>
            </form>
        </div>
        <div>
            <form class="row g-3" action="{% url 'search_sellers' %}" method="GET">
                {% csrf_token %}
                <div class="input-group mb-3 mt-5" style="width: 300px; margin: auto;">
                    <input type="text" name="seller_search_input" class="form-control" placeholder="Search Sellers"
                        aria-label="search_sellers" aria-describedby="button-addon3" required>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon3">Search sellers</button>
                </div>
            </form>
        </div>
        <!-- filter by sellers-->
        <div class="dropdown row g-3" style="width: 300px; margin: auto;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item" type="button"><a class="dropdown-item" href="{% url 'seller' %}">All
                            Sellers</a></button></li>
            </ul>
        </div>

        <div class="table_wrapper table-responsive">
            <table class="data_table">
                <tr>
                    <th>Full Name</th>
                    <th>Bank Name</th>
                    <th>Reference Number</th>
                    <th>Account Number</th>
                    <th>Cedula</th>
                    <th>Bank Acount Type</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>

                {% for seller in sellers %}
                <tr>
                    <td>{{seller.full_name}}</td>
                    <td>{{seller.bank_name}}</td>
                    <td>{{seller.reference_number}}</td>
                    <td>{{seller.account_number}}</td>
                    <td>{{seller.cedula}}</td>
                    <td>{{seller.bank_acount_type}}</td>
                    <td>{{seller.phone_number}}</td>
                    <td>{{seller.email}}</td>
                    <td><a href="{% url 'edit_seller'  seller.pk  %}"><button class="btn btn-sm btn-primary"><i
                                    class="far fa-edit">
                                    Edit</i></button></a> </td>
                    <td><a href="{% url 'delete_seller' seller.pk %}"><button class="btn btn-sm btn-danger "><i
                                    class="fas fa-trash-alt">
                                    Delete</i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>

{% endblock content %}