{% extends 'administrator/administrator_base.html' %}
{% load static %}

{% block content %}

<!-- header and card section -->
<h1 class="text-center mt-5">Send Whatsapp Message to sellers</h1>
<form class="form" action="{% url 'send_wh_message'%}" method="POST">
{% csrf_token %}
<div class="mb-3" style="width:70%; margin:auto">
  <div class="mb-3">
    <label for="whatsapp-message" class="form-label">Add message for sellers</label>
    <textarea required class="form-control" id="whatsapp-message" name="whatsapp-message" rows="3"></textarea>
  </div>
  <button type="submit"  class="btn btn-outline-success">Send Message</button>
</div>
</form>

{% endblock content %}