{% extends 'base2.html' %}
{% block title %}Best Excursions in Punta Cana | Punta Cana Discovery Tours {% endblock %}
{% block description %}Book the best Punta Cana excursions with Punta Cana Discovery, offering unforgettable guided tours, thrilling activities, and unique experiences in the Dominican Republic. {% endblock %}
{% load static %}
{% block content %}
{% include 'excursions/header.html' %}
{% include 'excursions/hero-header.html' %}
<section>
    <div class="header-filter">
        <span class="experience-count">{{counts}} Experiences</span>
    
            <!-- Search form -->
        <div class="search-bar">
            <form class="d-flex" role="search" method="get" autocomplete="on"
                  action="{% url 'excursion_search_results' %}">
                <div class="search-input-container">
                    <span class="search-icon">🔍</span> <!-- Use an icon font here if needed -->
                    {% if navbar_input %}
                    <input class="form-control search-input" type="search" name="navbar" placeholder="{{navbar_input}}"
                           aria-label="Search">
                    {% else %}
                    <input class="form-control search-input" type="search" name="navbar" placeholder="Search for Memorable Getaways"
                           aria-label="Search">
                    {% endif %}
                </div>
                <button class="btn search-btn" type="submit">Search</button>
            </form>
        </div>
    
        <!-- Sort by -->
        <div class="sort">
            <span>Sort by: </span>
            <select id="sort-options">
                <option value="{% url 'newest_result' %}">Newest</option>
                <option value="{% url 'oldest_result' %}">Oldest</option>
                <option value="{% url 'filter_by_ascend' %}">Price (low to high)</option>
                <option value="{% url 'filter_by_descend' %}">Price (high to low)</option>
            </select>
        </div>

    </div>
</section>


<!-- cards -->
<section>
     <div class="card-container">
        {% for excursion in excursions %}
        <div class="card">
            <img src="{{excursion.main_image.url}}" alt="Punta Cana beach tour - {{excursion.title}}">
            <div class="content">
                <div class="tag">ACTIVITIES</div>
                <h3>{{excursion.title|slice:":30"|title}}..</h3>
                <p>T{{excursion.description|slice:":30"|title | safe}}....</p>
                {% if excursion.duration_time %}
                <span class="img_icon1 badge rounded-pill bg-warning text-dark">
                <i class="fa-solid fa-hourglass-start"></i> {{excursion.duration_time}} hours</span>
                {% endif %}
                {% if excursion.tour_guide %}
                <span class="img_icon2 badge rounded-pill bg-warning text-dark">
                <i class="fa-solid fa-user"></i> Tour Guide</span> 
                {% endif %}
                {% if excursion.transportation %}
                <span class="img_icon3  badge rounded-pill bg-warning text-dark">
                    <i class="fa-solid fa-van-shuttle"></i> Transportation</span>
                {% endif %}
                <div class="rating-price" itemscope itemtype="https://schema.org/Review">
                    <meta itemprop="name" content="{{excursion.title}}"/>
                    <span itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                        <meta itemprop="ratingValue" content="{{excursion.reviews.count}}"/>
                        ⭐ {{ excursion.get_average_rating }}/5  ({{excursion.reviews.count}})
                    </span>
                    <span class="price" itemprop="offers" itemscope itemtype="https://schema.org/Offer" >
                        <span itemprop="priceCurrency" content="USD">$</span><span itemprop="price">{{excursion.Price}}</span>
                    </span>
                </div>
                <div class="action">
                    <a href="{% url 'excursion_detail' excursion.slugy %}" class="book-link">
                        <button class="book-btn">Book Now</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<script src="{% static 'js/hero-img.js' %}"></script>
<script src="{% static 'js/sort-options.js' %}"></script>
</section>

{% endblock content %}
