{% extends 'excursions/excursions_base.html' %}
<title>{% block title %}{{excursions.title}}{% endblock %}</title>
{% block description %}{{ description }}{% endblock %}
{% load static %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG9TokC3lqJJD7aPJhfAotYVBXq0508ng&libraries=places"></script>


{% block content %}
<section>
    <div class="detail-container">
        <h1 class="detail-title">{{excursions.title}}</h1>
        <div class="item-detail-and-image-container">
            <!-- main image -->
            <div class="image-container">
                <div class="main-image">
                    <img id="expandedImg" src="{{excursions.main_image.url}}" alt="{{excursions.image_name}}">
                </div>

                <!-- rest of the photos -->
                <div class="photos-and-icon-wrapper">
                    {% if excursions.photos.count > 4%}
                    <i id="arrow-left" class="fa-solid fa-circle-arrow-left"></i>
                    {% endif %}
                    <div class="photos" id="allphotos">
                        <img class="active-image thumbnails" src="{{excursions.main_image.url}}"
                            alt="{{excursions.image_name}}">
                        {% for excursion in excursions.photos.all %}
                        <img class="thumbnails" src="{{excursion.images.url}}" alt="{{excursions.image_name}}">
                        {% endfor %}
                    </div>
                    {% if excursions.photos.count > 4%}
                    <i id="arrow-right" class="fa-solid fa-circle-arrow-right"></i>
                    {% endif %}
                </div>
            </div>
            <!-- item details aside -->
            <div class="item-detail card">
                {% if excursions.video_id %}
                <iframe width="auto" height="300px" src="https://www.youtube.com/embed/{{excursions.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                {% endif%}
                <form class="form" action="{% url 'add_to_cart' excursions.id %}" method="POST">
                    {% csrf_token %}
                    <!-- price -->
                    <div class="form-row">
                        <div class="detail-price pt-3"> <strong>Price:</strong> ${{excursions.Price}}</div>
                        <div>Lowest Price garantee</div>
                        <hr>

                        <!-- date -->
                        <div class="form-group mt-3">
                            <label for="date">Select Date and Travellers</label>
                            <input type="text" class="form-control" id="date" name="excursion_date" min="{{tomorrow_str}}"
                            value="Select Date"
                                required>
                        </div>
                    

                        <!-- Times availables -->
                        <select name="selected_time" class="form-select mt-3" required>
                            <option value="">Select a time</option>
                            {% for time in time_available %}
                            <option value="{{ time.start_time }}" class="form-control">{{ time.start_time }}</option>
                            {% endfor %}
                        </select>

                        <!-- number of adults -->
                        <div class="form-group mt-3">
                            <label for="id_adult_qty">Adult (12-85 years old)</label>
                            <input type="number" class="form-control" id="id_adult_qty" name="adult_qty" value="1"
                            {% if excursions.group %} 
                            min="4"
                            {% else%}
                            min="1"
                            {%endif%}
                            max="99" data-item_id="{{excursions.id}}" required>
                        </div>
                        <!-- number of childrens -->
                        <div class="form-group mt-3">
                            <label for="id_child_qty"> Child (5 - 11 years old)</label>
                            <input type="number" class="form-control" id="id_child_qty" name="child_qty" value="0"
                                min="0" max="99">
                        </div>
                           <!-- number of childrens -->
                           <div class="form-group mt-3">
                            <label for="id_infant_qty"> Infant (0-4 years old)</label>
                            <input type="number" class="form-control" id="id_infant_qty" name="infant_qty" value="0"
                                min="0" max="99">
                        </div>
                        <!-- pick up info -->
                        <div class="form-group mt-3">
                            <label for="inputCity">Manual pick up Location</label>
                            <input type="text" class="form-control" id="inputCity" name="place_pickup" required>
                        </div>
                        <!-- <ul id="hotelList"></ul> -->

                        <!-- <div class="form-group mt-3">
                            <label for="inputCity">Auto Pick up location</label>
                            <div class="input-group">
                                <input onclick="getLocation()" type="button" class="form-control" id="locationButton"
                                    name="location" value="Get My Location">
                            </div>
                        </div> -->
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.238432416923!2d-68.37336401812402!3d18.563286322864528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea892172ce48f89%3A0x957aa624da170f8c!2sPunta%20Cana%20International%20Airport!5e0!3m2!1sen!2sdo!4v1691787965270!5m2!1sen!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                        <!-- hidden input to get the url-->
                        <input type="hidden" name="redirect_url" value="{{request.path}}">
                        <!-- hidden input for the price-->
                        <input type="hidden" name="price" value="{{excursions.Price}}">
                        <!-- form btn -->
                        <div class="form_detail_btn">
                            <!-- go back to keep shopping btn -->
                                <!-- Submit button -->
                                <div class="form-group mt-3 p-2">
                                    <a href="{% url 'excursions' %}">
                                    <button type="submit" class="my-button"><i
                                            class="fa-solid fa-arrow-left"></i> Keep Shopping</button>
                                     </a> 
                                </div>

                            <!-- Submit button -->
                            <div class="form-group mt-3 p-2">
                                <button type="submit" class="my-button"><i
                                        class="fa-solid fa-cart-plus"></i> Add to cart</button>
                            </div>

                        </div>
                </form>
            </div>
        </div>


    </div>
    <h1 class="text-center mt-5">Overview</h1>
    <div class="overview">
        {{excursions.description|safe}}
        <!-- Add a draggable element -->
        <div class="whatsap-container">
            <p clas="text-center mt-5">To cancel your booking, please send a WhatsApp message to our support team at 👇
                In your message, include the text "cancel" along with your booking number.</p>
            <a aria-label="Whatsapp" rel="noopener" rel="whatsapp"
                href="https://api.whatsapp.com/send?phone=447541147634" target="_blank"><img id="whatsapp-floating"
                    class="text-center" src="{% static 'images/excursions/whatsapp.png'%}">
                Connect via WhatsApp</a>
        </div>
    </div>


    <!-- Reviews -->
    <h5 class="review-title">Customer reviews: {{excursions.reviews.all.count}}</h5>
    <hr>


    {% if request.user.is_authenticated %}

    <!-- Review form -->
    <h5 class="text-center mt-5">Write your reviews</h5>

    <form class="review-form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Review title" name="review-title" required>
        </div>
        <div class="mb-3">
            <textarea required class="form-control" placeholder="Leave a review..." name="review-content"></textarea>
        </div>
        <div class="rating-container">
            <strong>Your Rating</strong>
            <div class="rating">
                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                <label for="star5">☆</label>
                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                <label for="star4">☆</label>
                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                <label for="star3">☆</label>
                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                <label for="star2">☆</label>
                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                <label for="star1">☆</label>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mt-3">
            <input class="btn user_button_sm" type="submit" value="Submit">
        </div>

    </form>
    {% if request.user.is_superuser%}
    <h2 class="text-center mt-5">For admin only</h2>
    <form class="review-form" action="{% url 'generate_reviews'  excursions.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt-3">
            <input class="btn user_button_sm" type="textera" name="reviews_content" placeholder="add each reviews with a comma" required>
            <input class="btn user_button_sm" type="submit" value="Generate">
        </div>
    </form>
    {%endif%}


    {% else %}
    <p class="text-center">Create an account to add a review:</p>
    <div class="text-center">
        <a class="btn my_hover user_button_sm" href="{% url 'account_signup' %}">Register/Login</a>
    </div>
    {% endif %}

    <!-- all reviews reviews -->
    <div class="reviews mt-5">
        {% for review in excursions.reviews.all %}
        <div class="sub_container">
            <i id="user_circle" class="fas fa-user-circle"></i><span class="user_name"> {{review.user |title }}</span>
            <div class="card-star">
                <i class="fa-star {% if review.rating >= 1 %} fa-solid {% else %} fa-regular {% endif %}"></i>
                <i class="fa-star {% if review.rating >= 2 %} fa-solid {% else %} fa-regular {% endif %}"></i>
                <i class="fa-star {% if review.rating >= 3 %} fa-solid {% else %} fa-regular {% endif %}"></i>
                <i class="fa-star {% if review.rating >= 4 %} fa-solid {% else %} fa-regular {% endif %}"></i>
                <i class="fa-star {% if review.rating >= 5 %} fa-solid {% else %} fa-regular {% endif %}"></i>
                <strong>{{review.title}}</strong>
            </div>
            <p class="date_created"> Commented on {{ review.created }}</p>
            <p class="review_content">{{review.content }}</p>
        </div>
        {% endfor %}
    </div>
</section>
<script>
var tomorrowDate = new Date('{{tomorrow_str}}'); // Tomorrow's date
  // Define an array of days to disable (0 = Sunday, 1 = Monday, etc.)
var disabledDays = '{{unavailableDay}}'; // Disables Sunday and Saturday
</script>
<script src="{% static 'js/calender.js' %}"></script>
{% endblock content %}