{% extends 'excursions/excursions_base.html' %}
{% load static %}

{% block content %}

<section>
    <h1 class="text-center mt-5"> All Excursions</h1>

    <div class="card-container">
      {% for excursion in excursions %}
        <div class="card-wrapper">
            <img src="{{excursion.image.url}}"
                alt="boat-escursion image">
            <h5 class="card-title">{{excursion.title|slice:":30"|title}}..</h5>
            <div class="card-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span> 8.5 very good</span>
            </div>
            <div class="price">
                £{{excursion.Price}}
            </div>
        </div>

        {% endfor%}
    <div>
</section>

{% endblock content %}