{% extends 'excursions/excursions_base.html' %}
<title>{% block title %}punta cana excursions{% endblock %}</title>
{% block description %}When it comes to experiencing the Dominican Republic's tropical paradise, look no further than the best Punta Cana excursions. In 2023, these excursions promise to be your gateway to unforgettable adventures. Whether you're a family seeking quality time together or a solo traveler in search of thrilling experiences, Punta Cana offers a wide array of options to suit your preferences. Dive into the crystal-clear waters of Saona Island, explore the enchanting Bavaro region, and immerse yourself in the rich culture of this Caribbean gem. Our carefully curated selection ensures that you'll discover the best Punta Cana excursions, each designed to create cherished memories that will last a lifetime. Join us on a journey of discovery and exploration as we uncover the hidden treasures of this tropical paradise.{% endblock %}

{% load static %}

{% block content %}

<section>
    <div class="card-container mt-5">
        {% for excursion in excursions %}
        <div class="card-wrapper">
            <div class="image-container">
                <a class="position-relative" href="{% url 'excursion_detail' excursion.slugy %}"><img
                        src="{{excursion.main_image.url}}" alt="{{excursion.image_name}}">
                </a>
                {% if excursion.duration_time%}
                <span class="img_icon1 badge rounded-pill bg-warning text-dark">
                    <i class="fa-solid fa-hourglass-start"></i> {{excursion.duration_time}} hours</span>
                {% endif %}
                {% if excursion.tour_guide%}
                <span class="img_icon2 badge rounded-pill bg-warning text-dark">
                    <i class="fa-solid fa-user"></i> Tour Guide</span>
                {% endif %}
                {% if excursion.transportation%}
                <span class="img_icon3  badge rounded-pill bg-warning text-dark">
                    <i class="fa-solid fa-van-shuttle"></i> Transportation</span>
                {% endif %}
            </div>
            <h5 class="card-title">{{excursion.title|slice:":30"|title}}..</h5>
            <!-- Reviews -->
            <div class="card-star">
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                <i class="fa-star fa-solid"></i>
                {% if excursion.reviews.count > 1 or excursion.reviews.count == 0 %}
                <span> {{excursion.reviews.count}} reviews</span>
                {% else %}
                <span> {{excursion.reviews.count}} review</span>
                {% endif%}
            </div>

            <div class="price">
                ${{excursion.Price}}
            </div>
            <div class="button_card">
                <a href="{% url 'excursion_detail' excursion.slugy %}" class="button">Book Now</a>
                <a href="{% url 'excursion_detail' excursion.slugy %}" class="button">Learn More</a>
            </div>
        </div>
         {% endfor %}
    </div>


    <!--Pagination-->
    {% if counts > 8 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if excursions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ excursions.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
            </li>
            {% endif %}

            {% if excursions.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ excursions.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in excursions.paginator.page_range %}
            {% if excursions.number == i %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% elif i > excursions.number|add:'-5' and i < excursions.number|add:'5' %} <li class="page-item"><a
                    class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if excursions.paginator.num_pages > excursions.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ excursions.number|add:'5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% if excursions.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ excursions.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                </li>
                {% endif %}
        </ul>
    </nav>
    <!--end of Pagination-->
    {%endif%}

</section>

{% endblock content %}