{% load static %}

<header>
    <div class="desktop-container-nav">
        <div class="logo-desktop">
            <a class="navbar-brand" href="{% url 'excursions' %}">
                <img src="{% static 'images/excursions/Logo.png' %}" alt="Punta Cana Discovery - Best Excursions in Punta Cana">
            </a>
        </div>
        <nav class="desktop-nav" aria-label="Primary Navigation">
            <ul class="navbar-user">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="#" class="nav-link-user" id="userDropdown">👤 Hi {{ user|title }}</a>
                    <ul class="dropdown-menu" id="dropdownMenu">
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                        {% if request.user.is_superuser %}
                        <li>
                            <a class="dropdown-item" href="{% url 'administrator' %}">
                                <i class="fa-solid fa-toolbox"></i> Admin board</a>
                        </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'excursion-bookings' %}">
                            <i class="fa-solid fa-book-circle-arrow-up"></i> Excursion Bookings</a>
                       </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="#" class="nav-link-user" id="userDropdown">👤 Sign in</a>
                    <ul class="dropdown-menu" id="dropdownMenu">
                        <li><a href="{% url 'account_login' %}">👤 Sign in</a></li>
                        <li><a href="{% url 'account_signup' %}"> 👤 Register</a></li>
                    </ul>
                </li>
                {% endif %}

                <li><a href="{% url 'excursions' %}" title="Browse all excursions in Punta Cana">Excursions</a></li>
                <li><a href="#" title="Transfer services in Punta Cana">Transfers</a></li>
                <li><a href="{% url 'static_page' 'events' %}" title="Plan and Attend Special Events in Punta Cana">Events</a></li>
                <li><a href="{% url 'static_page' 'blog' %}" title="Latest Blog Posts on Punta Cana Activities and Tips">Blog</a></li>
                {% if cart_items %}
                <li>
                    <a href="{% url 'checkout' %}" class="shooping-cart" title="Proceed to checkout">
                        🛒 <span class="cart-badge">{{ cart_items | length }}</span>
                    </a>
                </li>
                {% else %}
                <li title="Your cart is empty"> 🛒 </li>
                {% endif %}
                <li>
                    <a href="https://api.whatsapp.com/send?phone=18094614942" aria-label="Contact us via WhatsApp">
                        <img id="whatsapp-floating" class="text-center" src="{% static 'images/excursions/whatsapp.png'%}" alt="Contact us on WhatsApp">
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <nav class="mobile-nav" aria-label="Mobile Navigation">
        <div class="menu-icon" onclick="toggleMenu()" aria-label="Open Menu">&#9776;</div>
        <div class="logo-mobile">
            <img src="{% static 'images/excursions/Logo.png' %}" alt="Punta Cana Discovery - Best Excursions in Punta Cana">
        </div>
        <div class="shooping-cart">
            {% if cart_items %}
            <a href="{% url 'checkout' %}" title="Proceed to checkout"> 🛒 <span class="cart-badge-mobile">{{ cart_items | length }}</span></a>
            {% else %}
            🛒
            {% endif %}
        </div>

        <div class="mobile-menu" aria-label="Mobile Menu">
            <div class="menu-container">
                <button class="close-btn" onclick="toggleMenu()" aria-label="Close Menu">&#10005;</button>
                <ul class="menu-items navbar-user">
                    {% if user.is_authenticated %}      
                    <li class="nav-item menu-item" >
                        <img src="{% static 'images/user-profile.png' %}" alt="Top Excursions in Punta Cana" class="menu-image">
                        <span><a id="userDropdown" class="nav-link-user" title="Browse Excursions in Punta Cana">Hi {{ user|title }}</a></span>
                        <ul class="dropdown-menu" id="dropdownMenu">
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item menu-item" >
                        <img src="{% static 'images/user-profile.png' %}" alt="Top Excursions in Punta Cana" class="menu-image">
                        <span><a id="userDropdown" class="nav-link-user" title="Browse Excursions in Punta Cana">👤 Sign in</a></span>
                        <ul class="dropdown-menu" id="dropdownMenu">
                            <li><a href="{% url 'account_login' %}">👤 Sign in</a></li>
                            <li><a href="{% url 'account_signup' %}">👤 Register</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="menu-item">
                        <img src="{% static 'images/mobile-img/sahona.jpeg' %}" alt="Top Excursions in Punta Cana" class="menu-image">
                        <span><a href="{% url 'excursions' %}" title="Browse Excursions in Punta Cana">Excursions</a></span>
                    </li>
                    <li class="menu-item">
                        <img src="{% static 'images/mobile-img/transfer-img.png' %}" alt="Best Transfer Services in Punta Cana" class="menu-image">
                        <span><a href="{% url 'excursions' %}" title="View Transfer Services in Punta Cana">Transfers</a></span>
                    </li>
                    <li class="menu-item">
                        <img src="{% static 'images/mobile-img/blog.jpg' %}" alt="Punta Cana Blog" class="menu-image">
                        <span><a href="{% url 'static_page' 'blog' %}" title="Read Our Blog">Blog</a></span>
                    </li>
                    <li class="menu-item">
                        <img src="{% static 'images/mobile-img/event.jpg' %}" alt="Special Events in Punta Cana" class="menu-image">
                        <span><a href="{% url 'static_page' 'events' %}" title="Plan Events in Punta Cana">Events</a></span>
                    </li>
                    <li class="menu-item">
                        <img src="{% static 'images/excursions/whatsapp.png'%}" alt="Contact via WhatsApp" class="menu-image">
                        <span>
                            <div class="whatsapp-container">
                                <a href="https://api.whatsapp.com/send?phone=18094614942" target="_blank" title="Contact us via WhatsApp">Contact via WhatsApp</a>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
